.form-signin {
    background:#709775;
    border: 1px solid #415d43;
    color: #111d13;
    width: 40vw;
    min-height: 70vh;
    margin: 5vh auto !important;
    border-radius:3px; 
    padding: 50px;
    & img { 
      filter: invert(29%) sepia(15%) saturate(48%) hue-rotate(78deg) brightness(100%) contrast(292%);
    }
    & h1 {
        color: white;
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        margin-bottom: 1rem;
    }
    & h2 {
        color: white;
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        margin: 1rem 0;
    }
    & .btn-primary {
        background: #111d13;
        color: #A1CCA5;
        border: none;
        &:hover {
            box-shadow: 0 0 0 1px rgba(17, 29, 19, 0.25);
        }
    }
    & .btn-info {
        background: #415d43;
        color: white;
        border: none;
        &:hover {
            box-shadow: 0 0 0 1px rgba(17, 29, 19, 0.25);
        }
    }
  }

  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

// registro

.registration-form {
    background:#709775;
    border: 1px solid #415d43; 
    border-radius:3px; 
    padding: 50px;
    width: 40vw;
    min-height: 40vh;
    margin: 5vh auto !important;
    & #registerButton {
        background: #111d13;
        color: #A1CCA5;
        border: none;
        &:hover {
            box-shadow: 0 0 0 1px rgba(17, 29, 19, 0.25);
        }
    }
}