.navbar {
    background: #111d13!important;
    color: #a1cca5 !important;
    & .nav-link {
        color: #a1cca5 !important;
        margin: 0 1rem;
    }
    .btn:not(:disabled):not(.disabled) {
        color: #a1cca5  !important;
        border-color: #a1cca5 !important;
        &:hover {
            background: #a1cca5;
            box-shadow: 0 0 0 1px rgba(17, 29, 19, 0.25);
            color:#111d13!important;
        }
    }
}
.navbar-brand {
    & img {
        filter: invert(29%) sepia(15%) saturate(48%) hue-rotate(78deg) brightness(100%) contrast(292%);
    }
}
.navbar-toggler {
    background: #8fb996 !important;
}
.footer {
    background: #111d13 !important;
    padding: 0.5rem;
    & p  {
        color: #a1cca5 !important;
        margin: 0 0 0.25rem 0;
    }
    & a {
        color: #a1cca5;
    }
}