#containerSecret {
    & h3 {
        color: #111D13 !important;
    }
    & .bg-warning {
        background-color: #415d43 !important;
        color: white !important;
        border: none !important;
    }
    & .btn-primary {
        background: #415d43 !important;
        color: white !important;
        border: none !important;
    }
}
#secret-post, #secret-detail{
    & .card {
        border: 1px solid rgba(17, 29, 19, 0.125) !important;
        color: #111D13 !important;
    }
    & .card-header {
        background-color: rgba(161, 204, 165, 0.3) !important;
        border-bottom: 1px solid rgba(17, 29, 19, 0.125) !important;
    }
    & .card-footer {
        background-color: rgba(161, 204, 165, 0.1) !important;
        border-top: 1px solid rgba(17, 29, 19, 0.125) !important;
    }
    & .btn-link {
        color: #709775 !important;
    }
    & .card-link {
        color: #709775 !important;
    }
    & .rounded-circle {
        filter: invert(61%) sepia(11%) saturate(100%) hue-rotate(78deg) brightness(150%) contrast(64%) !important;
    }
}

#secret-edit {
    & .bg-warning {
        background-color: #415d43 !important;
        color: white !important;
    }
    & .btn-primary {
        background: #415d43 !important;
        color: white !important;
        border: none !important;
    }
    
    & .card {
        border: 1px solid rgba(17, 29, 19, 0.125) !important;
        color: #111D13 !important;
    }
    & .card-header {
        background-color: rgba(161, 204, 165, 0.3) !important;
        border-bottom: 1px solid rgba(17, 29, 19, 0.125) !important;
    }
    & .card-footer {
        background-color: rgba(161, 204, 165, 0.1) !important;
        border-top: 1px solid rgba(17, 29, 19, 0.125) !important;
    }
    & .btn-link {
        color: #709775 !important;
    }
    & .card-link {
        color: #709775 !important;
    }
}