{% extends 'base.html.twig' %}

{% block title %}New Secret{% endblock %}

{% block body %}
    <h1>Create new Secret</h1>

    {{ include('secret/_form.html.twig') }}

    <a href="{{ path('secret_index') }}">back to list</a>
{% endblock %}
