{% extends 'base.html.twig' %}

{% block title %}Secret{% endblock %}

{% block body %}
    <h1>Secret</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secret.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('secret_index') }}">back to list</a>

    <a href="{{ path('secret_edit', {'id': secret.id}) }}">edit</a>

    {{ include('secret/_delete_form.html.twig') }}
{% endblock %}
