@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import 'base/menu';
@import 'base/form';
@import 'base/secret';
@import 'base/mediaqueries';


.form-control:focus {
  color: #111d13;
  border-color: #a1cca5;
  box-shadow: 0 0 0 0.2rem rgba(161, 204, 165, 0.25);
}
.btn-primary:focus {
  border-color: none !important;
  box-shadow: 0 0 0 0.2rem rgba(161, 204, 165, 0.25);
}
.btn:hover, a:hover {
  filter: brightness(125%);
}

h3 {
  text-shadow: 1px 2px 3px rgba(17,29,19,0.5);
  
}

#registration_form_alias {
  height: calc(1.5em + 0.75rem + 2px) !important;
}